.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  padding: 20px;
  width: 260px;
  height: 410px;
  background-color: white;
  z-index: 1;
}

.product__info {
  align-self: flex-start;
  height: fit-content;
  margin-bottom: 5px;
}

.product__infoTop {
  display: flex;
  justify-content: space-between;
}

.product__infoTop:nth-child(2) {
  justify-self: end;
}

.product__rating {
  display: flex;
}

.product > img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  margin: 5px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product {
    width: 80vw;
    margin-top: 30px;
  }
}
